  <div class="alert alert-info">
  –ü—Ä–∏–≤–µ—Ç, –î–∏–∞–Ω–∞! –ú–µ–Ω—è –∑–æ–≤—É—Ç –°–≤–µ—Ç–ª–∞–Ω–∞ –∏ —è –±—É–¥—É –ø—Ä–æ–≤–µ—Ä—è—Ç—å —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç. –ú–æ—è –æ—Å–Ω–æ–≤–Ω–∞—è —Ü–µ–ª—å ‚Äî –Ω–µ —É–∫–∞–∑–∞—Ç—å –Ω–∞ —Å–æ–≤–µ—Ä—à–µ–Ω–Ω—ã–µ —Ç–æ–±–æ—é –æ—à–∏–±–∫–∏, –∞ –ø–æ–¥–µ–ª–∏—Ç—å—Å—è —Å–≤–æ–∏–º –æ–ø—ã—Ç–æ–º –∏ –ø–æ–º–æ—á—å —Ç–µ–±–µ. –ü—Ä–µ–¥–ª–∞–≥–∞—é –æ–±—â–∞—Ç—å—Å—è –Ω–∞ ¬´—Ç—ã¬ª. –ù–æ –µ—Å–ª–∏ —ç—Ç–æ –Ω–µ —É–¥–æ–±–Ω–æ - –¥–∞–π –∑–Ω–∞—Ç—å, –∏ –º—ã –ø–µ—Ä–µ–π–¥–µ–º –Ω–∞ ¬´–≤—ã¬ª.

  <div class="alert alert-success">
  <b>üëç –£—Å–ø–µ—Ö:</b> –ó–µ–ª—ë–Ω—ã–º —Ü–≤–µ—Ç–æ–º –æ—Ç–º–µ—á–µ–Ω—ã —É–¥–∞—á–Ω—ã–µ –∏ —ç–ª–µ–≥–∞–Ω—Ç–Ω—ã–µ —Ä–µ—à–µ–Ω–∏—è, –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ –º–æ–∂–Ω–æ –æ–ø–∏—Ä–∞—Ç—å—Å—è –≤ –±—É–¥—É—â–∏—Ö –ø—Ä–æ–µ–∫—Ç–∞—Ö.
  </div>
  <div class="alert alert-warning">
  <b>ü§î –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è:</b> –ñ—ë–ª—Ç—ã–º —Ü–≤–µ—Ç–æ–º –≤—ã–¥–µ–ª–µ–Ω–æ —Ç–æ, —á—Ç–æ –≤ —Å–ª–µ–¥—É—é—â–∏–π —Ä–∞–∑ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø–æ-–¥—Ä—É–≥–æ–º—É. –¢—ã –º–æ–∂–µ—à—å —É—á–µ—Å—Ç—å —ç—Ç–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –ø—Ä–∏ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–∏ –±—É–¥—É—â–∏—Ö –∑–∞–¥–∞–Ω–∏–π –∏–ª–∏ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å –ø—Ä–æ–µ–∫—Ç —Å–µ–π—á–∞—Å (–æ–¥–Ω–∞–∫–æ —ç—Ç–æ –Ω–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ).
  </div>
  <div class="alert alert-danger">
  <b>üòî –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å:</b> –ö—Ä–∞—Å–Ω—ã–º —Ü–≤–µ—Ç–æ–º –≤—ã–¥–µ–ª–µ–Ω—ã –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –±–µ–∑ –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏—è –∫–æ—Ç–æ—Ä—ã—Ö, —è –Ω–µ —Å–º–æ–≥—É –ø—Ä–∏–Ω—è—Ç—å –ø—Ä–æ–µ–∫—Ç :(
  </div>
  <div class="alert alert-info">
  <b>üëÇ –°–æ–≤–µ—Ç:</b> –ö–∞–∫–∏–µ-—Ç–æ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –º–∞—Ç–µ—Ä–∏–∞–ª—ã
  </div>
  –î–∞–≤–∞–π —Ä–∞–±–æ—Ç–∞—Ç—å –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º –≤ –¥–∏–∞–ª–æ–≥–µ: –µ—Å–ª–∏ —Ç—ã —á—Ç–æ-—Ç–æ –º–µ–Ω—è–µ—à—å –≤ –ø—Ä–æ–µ–∫—Ç–µ –ø–æ –º–æ–∏–º —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è–º ‚Äî –ø–∏—à–∏ –æ–± —ç—Ç–æ–º.
  –ú–Ω–µ –±—É–¥–µ—Ç –ª–µ–≥—á–µ –æ—Ç—Å–ª–µ–¥–∏—Ç—å –∏–∑–º–µ–Ω–µ–Ω–∏—è, –µ—Å–ª–∏ —Ç—ã –≤—ã–¥–µ–ª–∏—à—å —Å–≤–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏:
  <div class="alert alert-info"> <b>üéì –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫.</div>
  –ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ –ø–µ—Ä–µ–º–µ—â–∞–π, –Ω–µ –∏–∑–º–µ–Ω—è–π –∏ –Ω–µ —É–¥–∞–ª—è–π –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏. –í—Å—ë —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç –≤—ã–ø–æ–ª–Ω–∏—Ç—å –ø–æ–≤—Ç–æ—Ä–Ω—É—é –ø—Ä–æ–≤–µ—Ä–∫—É —Ç–≤–æ–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞ –±—ã—Å—Ç—Ä–µ–µ.
   </div>

# –ê–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö —Å–µ—Ä–≤–∏—Å–∞ –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥

**–û–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞**

–ö–æ—Ä–æ–Ω–∞–≤–∏—Ä—É—Å –∑–∞—Å—Ç–∞–ª –º–∏—Ä –≤—Ä–∞—Å–ø–ª–æ—Ö, –∏–∑–º–µ–Ω–∏–≤ –ø—Ä–∏–≤—ã—á–Ω—ã–π –ø–æ—Ä—è–¥–æ–∫ –≤–µ—â–µ–π. –í —Å–≤–æ–±–æ–¥–Ω–æ–µ –≤—Ä–µ–º—è –∂–∏—Ç–µ–ª–∏ –≥–æ—Ä–æ–¥–æ–≤ –±–æ–ª—å—à–µ –Ω–µ –≤—ã—Ö–æ–¥—è—Ç –Ω–∞ —É–ª–∏—Ü—É, –Ω–µ –ø–æ—Å–µ—â–∞—é—Ç –∫–∞—Ñ–µ –∏ —Ç–æ—Ä–≥–æ–≤—ã–µ —Ü–µ–Ω—Ç—Ä—ã. –ó–∞—Ç–æ —Å—Ç–∞–ª–æ –±–æ–ª—å—à–µ –≤—Ä–µ–º–µ–Ω–∏ –¥–ª—è –∫–Ω–∏–≥. –≠—Ç–æ –∑–∞–º–µ—Ç–∏–ª–∏ —Å—Ç–∞—Ä—Ç–∞–ø–µ—Ä—ã ‚Äî –∏ –±—Ä–æ—Å–∏–ª–∏—Å—å —Å–æ–∑–¥–∞–≤–∞—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —Ç–µ—Ö, –∫—Ç–æ –ª—é–±–∏—Ç —á–∏—Ç–∞—Ç—å. –ù–∞—à–∞ –∫–æ–º–ø–∞–Ω–∏—è —Ä–µ—à–∏–ª–∞ –±—ã—Ç—å –Ω–∞ –≤–æ–ª–Ω–µ –∏ –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –ù–∞—à–∞ –∑–∞–¥–∞—á–∞ –∫–∞–∫ –∞–Ω–∞–ª–∏—Ç–∏–∫–∞ ‚Äî –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö. –í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞. 

**–¶–µ–ª—å –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è** ‚Äî –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥ –∏ –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏.

**–û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö**

–¢–∞–±–ª–∏—Ü–∞ `books` —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:

- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;

- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;

- `title` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;

- `num_pages` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;

- `publication_date` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;

- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

–¢–∞–±–ª–∏—Ü–∞ `authors` —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:

- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;

- `author` ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

–¢–∞–±–ª–∏—Ü–∞ `publishers` —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:

- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

- `publisher` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞.

–¢–∞–±–ª–∏—Ü–∞ `ratings` —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:

- `rating_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;

- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;

- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;

- `rating` ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

–¢–∞–±–ª–∏—Ü–∞ `reviews` —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏:

- `review_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;

- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;

- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä;

- `text` ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

**–ü–ª–∞–Ω —Ä–∞–±–æ—Ç—ã**

1. –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü ‚Äî –≤—ã–≤–æ–¥ –ø–µ—Ä–≤—ã—Ö —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü, –ø–æ–¥—Å—á—ë—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Å—Ç—Ä–æ–∫ –≤ –∫–∞–∂–¥–æ–π —Ç–∞–±–ª–∏—Ü–µ.

2. –ü–æ–¥—Å—á—ë—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∫–Ω–∏–≥, –≤—ã—à–µ–¥—à–∏—Ö –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞.

3. –ü–æ–¥—Å—á—ë—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–∏ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏.

4. –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü (–¥–ª—è –∏—Å–∫–ª—é—á–µ–Ω–∏—è –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä).

5. –í—ã—è–≤–ª–µ–Ω–∏–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ (—Å —É—á—ë—Ç–æ–º —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏).

6. –ü–æ–¥—Å—á—ë—Ç —Å—Ä–µ–¥–Ω–µ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫.

7. –û–ø–∏—Å–∞–Ω–∏–µ –≤—ã–≤–æ–¥–æ–≤ –ø–æ –∫–∞–∂–¥–æ–π –∏–∑ —Ä–µ—à—ë–Ω–Ω—ã—Ö –∑–∞–¥–∞—á.

## –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü

–ò–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏ –º–æ–¥—É–ª–∏.

In [1]:
import pandas as pd
# –∏–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ pandas
import sqlalchemy as sa
# –∏–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ sqlalchemy

–£—Å—Ç–∞–Ω–æ–≤–∏–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã.

In [2]:
db_config = {
'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net', # —Ö–æ—Å—Ç
'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
'db': 'data-analyst-final-project-db' # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
}
# —Å–æ–∑–¥–∞–Ω–∏–µ —Å–ª–æ–≤–∞—Ä—è ‚Äòdb_config‚Äô —Å –∫–ª—é—á–∞–º–∏ –∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏
connection_string = 'postgresql://{user}:{pwd}@{host}:{port}/{db}'.format(**db_config)
# —Å–æ–∑–¥–∞–Ω–∏–µ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π ‚Äòconnection_string‚Äô
# –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤ –∏–∑ —Å–ª–æ–≤–∞—Ä—è ‚Äòdb_config‚Äô

–°–æ—Ö—Ä–∞–Ω–∏–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä.

In [3]:
engine = sa.create_engine(connection_string, connect_args={'sslmode':'require'})
# —Å–æ–∑–¥–∞–Ω–∏–µ –æ–±—ä–µ–∫—Ç–∞ ‚Äòengine‚Äô –¥–ª—è –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö, —É–∫–∞–∑–∞–Ω–Ω–æ–π –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π ‚Äòconnection_string‚Äô

–ù–∞–ø–∏—à–µ–º —Ñ—É–Ω–∫—Ü–∏—é —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ Pandas –¥–ª—è –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è SQL-–∑–∞–ø—Ä–æ—Å–∞.

In [4]:
def get_sql_data(query:str, engine:sa.engine.base.Engine=engine) -> pd.DataFrame:
# –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ —Ñ—É–Ω–∫—Ü–∏–∏ ‚Äòget_sql_data‚Äô
# –ø—Ä–∏–Ω—è—Ç–∏–µ —Ñ—É–Ω–∫—Ü–∏–µ–π ‚Äòget_sql_data‚Äô –¥–≤—É—Ö –∞—Ä–≥—É–º–µ–Ω—Ç–æ–≤: ‚Äòquery‚Äô (—Å—Ç—Ä–æ–∫–∞ —Å –∑–∞–ø—Ä–æ—Å–æ–º –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö)
# –∏ ‚Äòengine‚Äô (–æ–±—ä–µ–∫—Ç –∫–ª–∞—Å—Å–∞ sa.engine.base.Engine)
    '''–û—Ç–∫—Ä—ã–≤–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ, –ø–æ–ª—É—á–∞–µ–º –¥–∞–Ω–Ω—ã–µ –∏–∑ sql, –∑–∞–∫—Ä—ã–≤–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ'''
    with engine.connect() as con:
        return pd.read_sql(sql=sa.text(query), con = con)
# –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ —Ñ—É–Ω–∫—Ü–∏–µ–π –æ–±—ä–µ–∫—Ç–∞ ‚Äòengine‚Äô –¥–ª—è –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö
# —Å—á–∏—Ç—ã–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –∏–∑ –∑–∞–ø—Ä–æ—Å–∞ –∏ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º

### –í—ã–≤–æ–¥ –ø–µ—Ä–≤—ã—Ö —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü

–í—ã–≤–µ–¥–µ–º –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã `books`.

In [5]:
get_sql_data('''(SELECT * 
                 FROM books 
                 LIMIT 5)''')
# –≤—ã–±–æ—Ä –≤—Å–µ—Ö –∑–∞–ø–∏—Å–µ–π –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòbooks‚Äô –∏ –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏–µ –∏—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –¥–æ 5
# –≤—ã–∑–æ–≤ —Ñ—É–Ω–∫—Ü–∏–∏ ‚Äòget_sql_data‚Äô

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

–í—ã–≤–µ–¥–µ–º –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã `authors`.

In [6]:
get_sql_data('''(SELECT * 
                 FROM authors 
                 LIMIT 5)''')
# –≤—ã–±–æ—Ä –≤—Å–µ—Ö –∑–∞–ø–∏—Å–µ–π –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòauthors‚Äô –∏ –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏–µ –∏—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –¥–æ 5
# –≤—ã–∑–æ–≤ —Ñ—É–Ω–∫—Ü–∏–∏ ‚Äòget_sql_data‚Äô

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

–í—ã–≤–µ–¥–µ–º –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã `publishers`.

In [7]:
get_sql_data('''(SELECT * 
                 FROM publishers 
                 LIMIT 5)''')
# –≤—ã–±–æ—Ä –≤—Å–µ—Ö –∑–∞–ø–∏—Å–µ–π –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòpublishers‚Äô –∏ –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏–µ –∏—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –¥–æ 5
# –≤—ã–∑–æ–≤ —Ñ—É–Ω–∫—Ü–∏–∏ ‚Äòget_sql_data‚Äô

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

–í—ã–≤–µ–¥–µ–º –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã `ratings`.

In [8]:
get_sql_data('''(SELECT * 
                 FROM ratings 
                 LIMIT 5)''')
# –≤—ã–±–æ—Ä –≤—Å–µ—Ö –∑–∞–ø–∏—Å–µ–π –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòratings‚Äô –∏ –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏–µ –∏—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –¥–æ 5
# –≤—ã–∑–æ–≤ —Ñ—É–Ω–∫—Ü–∏–∏ ‚Äòget_sql_data‚Äô

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

–í—ã–≤–µ–¥–µ–º –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã `reviews`.

In [9]:
get_sql_data('''(SELECT * 
                 FROM reviews 
                 LIMIT 5)''')
# –≤—ã–±–æ—Ä –≤—Å–µ—Ö –∑–∞–ø–∏—Å–µ–π –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòreviews‚Äô –∏ –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏–µ –∏—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –¥–æ 5
# –≤—ã–∑–æ–≤ —Ñ—É–Ω–∫—Ü–∏–∏ ‚Äòget_sql_data‚Äô

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –ï—Å—Ç—å –æ–ø–∏—Å–∞–Ω–∏–µ –∑–∞–¥–∞—á–∏, –∏–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω—ã –≤—Å–µ –Ω—É–∂–Ω—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏, —Å–æ–∑–¥–∞–Ω–æ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –ë–î, –ø—Ä–æ—Å–º–æ—Ç—Ä–µ–Ω—ã —Ç–∞–±–ª–∏—Ü—ã
 </div>

### –ü–æ–¥—Å—á—ë—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Å—Ç—Ä–æ–∫ –≤ –∫–∞–∂–¥–æ–π —Ç–∞–±–ª–∏—Ü–µ

–û–ø—Ä–µ–¥–µ–ª–∏–º, —Å–∫–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫ —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –≤ —Ç–∞–±–ª–∏—Ü–µ `books`.

In [10]:
get_sql_data('''(SELECT COUNT(*) AS total_rows_books
                 FROM books)''')
# –ø–æ–¥—Å—á—ë—Ç –æ–±—â–µ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ ‚Äòbooks‚Äô
# –≤—ã–∑–æ–≤ —Ñ—É–Ω–∫—Ü–∏–∏ ‚Äòget_sql_data‚Äô

   total_rows_books
0              1000

–í —Ç–∞–±–ª–∏—Ü–µ `books` —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è 1 —Ç—ã—Å. —Å—Ç—Ä–æ–∫.

–û–ø—Ä–µ–¥–µ–ª–∏–º, —Å–∫–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫ —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –≤ —Ç–∞–±–ª–∏—Ü–µ `authors`.

In [11]:
get_sql_data('''(SELECT COUNT(*) AS total_rows_authors
                 FROM authors)''')
# –ø–æ–¥—Å—á—ë—Ç –æ–±—â–µ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ ‚Äòauthors‚Äô
# –≤—ã–∑–æ–≤ —Ñ—É–Ω–∫—Ü–∏–∏ ‚Äòget_sql_data‚Äô

   total_rows_authors
0                 636

–í —Ç–∞–±–ª–∏—Ü–µ `authors` —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è 636 —Å—Ç—Ä–æ–∫.

–û–ø—Ä–µ–¥–µ–ª–∏–º, —Å–∫–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫ —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –≤ —Ç–∞–±–ª–∏—Ü–µ `publishers`.

In [12]:
get_sql_data('''(SELECT COUNT(*) AS total_rows_publishers
                 FROM publishers)''')
# –ø–æ–¥—Å—á—ë—Ç –æ–±—â–µ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ ‚Äòpublishers‚Äô
# –≤—ã–∑–æ–≤ —Ñ—É–Ω–∫—Ü–∏–∏ ‚Äòget_sql_data‚Äô

   total_rows_publishers
0                    340

–í —Ç–∞–±–ª–∏—Ü–µ `publishers` —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è 340 —Å—Ç—Ä–æ–∫.

–û–ø—Ä–µ–¥–µ–ª–∏–º, —Å–∫–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫ —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –≤ —Ç–∞–±–ª–∏—Ü–µ `ratings`.

In [13]:
get_sql_data('''(SELECT COUNT(*) AS total_rows_ratings
                 FROM ratings)''')
# –ø–æ–¥—Å—á—ë—Ç –æ–±—â–µ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ ‚Äòratings‚Äô
# –≤—ã–∑–æ–≤ —Ñ—É–Ω–∫—Ü–∏–∏ ‚Äòget_sql_data‚Äô

   total_rows_ratings
0                6456

–í —Ç–∞–±–ª–∏—Ü–µ `ratings` —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è 6 —Ç—ã—Å. 456 —Å—Ç—Ä–æ–∫.

–û–ø—Ä–µ–¥–µ–ª–∏–º, —Å–∫–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫ —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –≤ —Ç–∞–±–ª–∏—Ü–µ `reviews`.

In [14]:
get_sql_data('''(SELECT COUNT(*) AS total_rows_reviews
                 FROM reviews)''')
# –ø–æ–¥—Å—á—ë—Ç –æ–±—â–µ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ ‚Äòreviews‚Äô
# –≤—ã–∑–æ–≤ —Ñ—É–Ω–∫—Ü–∏–∏ ‚Äòget_sql_data‚Äô

   total_rows_reviews
0                2793

–í —Ç–∞–±–ª–∏—Ü–µ `reviews` —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è 2 —Ç—ã—Å. 793 —Å—Ç—Ä–æ–∫–∏.

## –ü–æ–¥—Å—á—ë—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∫–Ω–∏–≥, –≤—ã—à–µ–¥—à–∏—Ö –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞

–û–ø—Ä–µ–¥–µ–ª–∏–º —Å–∞–º—É—é —Ä–∞–Ω–Ω—é—é –∏ —Å–∞–º—É—é –ø–æ–∑–¥–Ω—é—é –¥–∞—Ç—É –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥.

In [15]:
get_sql_data('''(SELECT MIN(publication_date) AS min_publication_date,
                        MAX(publication_date) AS max_publication_date
                 FROM books)''')
# –Ω–∞—Ö–æ–∂–¥–µ–Ω–∏–µ –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ ‚Äòpublication_date‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòbooks‚Äô
# –Ω–∞—Ö–æ–∂–¥–µ–Ω–∏–µ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ ‚Äòpublication_date‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòbooks‚Äô
# –≤—ã–∑–æ–≤ —Ñ—É–Ω–∫—Ü–∏–∏ ‚Äòget_sql_data‚Äô

  min_publication_date max_publication_date
0           1952-12-01           2020-03-31

–°–∞–º–∞—è —Ä–∞–Ω–Ω—è—è –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥ ‚Äî 1 –¥–µ–∫–∞–±—Ä—è 1952 –≥–æ–¥–∞, –∞ —Å–∞–º–∞—è –ø–æ–∑–¥–Ω—è—è ‚Äî 31 –º–∞—Ä—Ç–∞ 2020 –≥–æ–¥–∞.

–í—ã—è—Å–Ω–∏–º, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞.

In [16]:
get_sql_data('''(SELECT COUNT(book_id) AS total_books
                 FROM books 
                 WHERE publication_date > '2000-01-01')''')
# –ø–æ–¥—Å—á—ë—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ ‚Äòbook_id‚Äô —Ç–∞–±–ª–∏—Ü—ã ‚Äòbooks‚Äô
# –ø—Ä–∏ —É—Å–ª–æ–≤–∏–∏, —á—Ç–æ –¥–∞—Ç—ã –≤ —Å—Ç–æ–ª–±—Ü–µ ‚Äòpublication_date‚Äô –ø–æ–∑–∂–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞
# –≤—ã–∑–æ–≤ —Ñ—É–Ω–∫—Ü–∏–∏ ‚Äòget_sql_data‚Äô

   total_books
0          819

–í—Å–µ–≥–æ –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ–± –æ–¥–Ω–æ–π —Ç—ã—Å—è—á–µ –∫–Ω–∏–≥, –±–æ–ª—å—à–∞—è —á–∞—Å—Ç—å –∫–æ—Ç–æ—Ä—ã—Ö –±—ã–ª–∞ –æ–ø—É–±–ª–∏–∫–æ–≤–∞–Ω–∞ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞. –°–æ 2 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –ø–æ 31 –º–∞—Ä—Ç–∞ 2020 –≥–æ–¥–∞ –≤—ã—à–ª–æ 819 –∫–Ω–∏–≥, –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã—Ö –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö.

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

## –ü–æ–¥—Å—á—ë—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–∏ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏

–î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É.

In [17]:
get_sql_data('''(SELECT b.book_id,
                        b.title,
                        COUNT(DISTINCT(re.review_id)) AS total_reviews,
                        AVG(ra.rating) AS average_rating
                 FROM books AS b
                 LEFT JOIN reviews AS re ON b.book_id = re.book_id
                 LEFT JOIN ratings AS ra ON b.book_id = ra.book_id
                 GROUP BY b.book_id, b.title
                 ORDER BY average_rating DESC, total_reviews DESC)''')
# –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º ‚Äòbook_id‚Äô –∏ ‚Äòtitle‚Äô —Ç–∞–±–ª–∏—Ü—ã ‚Äòbooks‚Äô
# –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –∞–≥—Ä–µ–≥–∞—Ç–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π –¥–ª—è –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø—ã
# —Å–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞ –ø–æ —É–±—ã–≤–∞–Ω–∏—é ‚Äòaverage_rating‚Äô –∏ ‚Äòtotal_reviews‚Äô
# –≤—ã–≤–æ–¥ –∑–Ω–∞—á–µ–Ω–∏–π —Å—Ç–æ–ª–±—Ü–æ–≤ ‚Äòbook_id‚Äô –∏ ‚Äòtitle‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòbooks‚Äô
# –≤—ã–≤–æ–¥ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π ‚Äòreview_id‚Äô –≤ —Ç–∞–±–ª–∏—Ü–µ ‚Äòreviews‚Äô
# –≤—ã–≤–æ–¥ —Å—Ä–µ–¥–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω–∏–π —Å—Ç–æ–ª–±—Ü–∞ ‚Äòrating‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòratings‚Äô
# –≤—ã–∑–æ–≤ —Ñ—É–Ω–∫—Ü–∏–∏ ‚Äòget_sql_data‚Äô

,book_id,title,total_reviews,average_rating
0,17,A Dirty Job (Grim Reaper #1),4,5.00
1,553,School's Out‚ÄîForever (Maximum Ride #2),3,5.00
2,444,Moneyball: The Art of Winning an Unfair Game,3,5.00
3,86,Arrows of the Queen (Heralds of Valdemar #1),2,5.00
4,972,Wherever You Go There You Are: Mindfulness Me...,2,5.00
...,...,...,...,...
995,915,The World Is Flat: A Brief History of the Twen...,3,2.25
996,202,Drowning Ruth,3,2.00
997,316,His Excellency: George Washington,2,2.00
998,371,Junky,2,2.00
999,303,Harvesting the Heart,2,1.50

–û–ø—Ä–µ–¥–µ–ª–∏–º –Ω–∞–∏–º–µ–Ω—å—à–µ–µ –∏ –Ω–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –Ω–∞ –∫–Ω–∏–≥—É, –∞ —Ç–∞–∫–∂–µ –º–∏–Ω–∏–º–∞–ª—å–Ω—É—é –∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω—É—é —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É –∫–Ω–∏–≥–∏.

In [18]:
get_sql_data('''(WITH
                 i AS (SELECT b.book_id,
                              b.title,
                              COUNT(DISTINCT(re.review_id)) AS total_reviews,
                              AVG(ra.rating) AS average_rating
                       FROM books AS b
                       LEFT JOIN reviews AS re ON b.book_id = re.book_id
                       LEFT JOIN ratings AS ra ON b.book_id = ra.book_id
                       GROUP BY b.book_id, b.title
                       ORDER BY average_rating DESC, total_reviews DESC)
                 SELECT MIN(i.total_reviews) AS min_total_reviews,
                        MAX(i.total_reviews) AS max_total_reviews,
                        MIN(i.average_rating) AS min_average_rating,
                        MAX(i.average_rating) AS max_average_rating
                 FROM i)''')
# —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ –ø–æ–¥–∑–∞–ø—Ä–æ—Å–∞ —Å –ø—Å–µ–≤–¥–æ–Ω–∏–º–æ–º i
# –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º ‚Äòbook_id‚Äô –∏ ‚Äòtitle‚Äô —Ç–∞–±–ª–∏—Ü—ã ‚Äòbooks‚Äô
# –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –∞–≥—Ä–µ–≥–∞—Ç–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π –¥–ª—è –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø—ã
# —Å–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞ –ø–æ —É–±—ã–≤–∞–Ω–∏—é ‚Äòaverage_rating‚Äô –∏ ‚Äòtotal_reviews‚Äô
# –≤—ã–≤–æ–¥ –∑–Ω–∞—á–µ–Ω–∏–π —Å—Ç–æ–ª–±—Ü–æ–≤ ‚Äòbook_id‚Äô –∏ ‚Äòtitle‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòbooks‚Äô
# –≤—ã–≤–æ–¥ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π ‚Äòreview_id‚Äô –≤ —Ç–∞–±–ª–∏—Ü–µ ‚Äòreviews‚Äô
# –≤—ã–≤–æ–¥ —Å—Ä–µ–¥–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω–∏–π —Å—Ç–æ–ª–±—Ü–∞ ‚Äòrating‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòratings‚Äô
# –Ω–∞–ø–∏—Å–∞–Ω–∏–µ –æ—Å–Ω–æ–≤–Ω–æ–≥–æ –∑–∞–ø—Ä–æ—Å–∞
# –Ω–∞—Ö–æ–∂–¥–µ–Ω–∏–µ –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ ‚Äòtotal_reviews‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòi‚Äô
# –Ω–∞—Ö–æ–∂–¥–µ–Ω–∏–µ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ ‚Äòtotal_reviews‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòi‚Äô
# –Ω–∞—Ö–æ–∂–¥–µ–Ω–∏–µ –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ ‚Äòaverage_rating‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòi‚Äô
# –Ω–∞—Ö–æ–∂–¥–µ–Ω–∏–µ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ ‚Äòaverage_rating‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòi‚Äô
# –≤—ã–∑–æ–≤ —Ñ—É–Ω–∫—Ü–∏–∏ ‚Äòget_sql_data‚Äô

,min_total_reviews,max_total_reviews,min_average_rating,max_average_rating
0,0,7,1.5,5.0

–í –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö —Å—É—â–µ—Å—Ç–≤—É—é—Ç –∫–Ω–∏–≥–∏, –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –Ω–µ –Ω–∞–ø–∏—Å–∞–ª–∏ –æ–±–∑–æ—Ä—ã. –ù–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –Ω–∞ –æ–¥–Ω—É –∫–Ω–∏–≥—É ‚Äî 7.

–ú–∏–Ω–∏–º–∞–ª—å–Ω–∞—è —Å—Ä–µ–¥–Ω—è—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∞—è –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 1.5, –∞ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è ‚Äî 5.

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

## –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü

–û–ø—Ä–µ–¥–µ–ª–∏–º –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü (—Ç–∞–∫ –º—ã –∏—Å–∫–ª—é—á–∏–º –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã).

In [19]:
get_sql_data('''(SELECT p.publisher_id,
                        p.publisher,
                        COUNT(b.book_id) AS total_books
                 FROM books AS b
                 JOIN publishers AS p ON b.publisher_id = p.publisher_id
                 WHERE b.num_pages > 50
                 GROUP BY p.publisher_id, p.publisher
                 ORDER BY total_books DESC
                 LIMIT 1)''')
# –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º ‚Äòpublisher_id‚Äô –∏ ‚Äòpublisher‚Äô —Ç–∞–±–ª–∏—Ü—ã ‚Äòpublishers‚Äô
# –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –∞–≥—Ä–µ–≥–∞—Ç–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π –¥–ª—è –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø—ã
# –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –∑–∞–ø—Ä–æ—Å–∞ —Ç–æ–ª—å–∫–æ –¥–ª—è —Ç–µ—Ö –∑–∞–ø–∏—Å–µ–π, —É –∫–æ—Ç–æ—Ä—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–∞ ‚Äònum_pages‚Äô —Ç–∞–±–ª–∏—Ü—ã ‚Äòbooks‚Äô –±–æ–ª—å—à–µ 50
# —Å–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞ –ø–æ —É–±—ã–≤–∞–Ω–∏—é ‚Äòtotal_books‚Äô
# –≤—ã–≤–æ–¥ –∑–Ω–∞—á–µ–Ω–∏–π —Å—Ç–æ–ª–±—Ü–æ–≤ ‚Äòpublisher_id‚Äô –∏ ‚Äòpublisher‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòpublishers‚Äô
# –≤—ã–≤–æ–¥ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ ‚Äòbook_id‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòbooks‚Äô
# –≤—ã–≤–æ–¥ —Ç–æ–ª—å–∫–æ –ø–µ—Ä–≤–æ–π –∑–∞–ø–∏—Å–∏ –∏–∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞
# –≤—ã–∑–æ–≤ —Ñ—É–Ω–∫—Ü–∏–∏ ‚Äòget_sql_data‚Äô

   publisher_id      publisher  total_books
0           212  Penguin Books           42

–ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ ¬´Penguin Books¬ª –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –æ–±—ä—ë–º–æ–º –±–æ–ª–µ–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî 42 –∫–Ω–∏–≥–∏. ¬´Penguin Books¬ª —è–≤–ª—è–µ—Ç—Å—è –±—Ä–∏—Ç–∞–Ω—Å–∫–∏–º –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ–º, –æ—Å–Ω–æ–≤–∞–Ω–Ω—ã–º –≤ 1935 –≥–æ–¥—É. –í–∞–∂–Ω—ã–º –¥–æ—Å—Ç–∏–∂–µ–Ω–∏–µ–º –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞ —Å—á–∏—Ç–∞–µ—Ç—Å—è –¥–µ–º–æ–∫—Ä–∞—Ç–∏–∑–∞—Ü–∏—è –∫–Ω–∏–∂–Ω–æ–≥–æ —Ä—ã–Ω–∫–∞, –±–ª–∞–≥–æ–¥–∞—Ä—è –∫–æ—Ç–æ—Ä–æ–π –∫–Ω–∏–≥–∞ –ø—Ä–µ–≤—Ä–∞—Ç–∏–ª–∞—Å—å –∏–∑ –ø—Ä–µ–¥–º–µ—Ç–∞ —Ä–æ—Å–∫–æ—à–∏ –≤ —É–¥–æ–≤–æ–ª—å—Å—Ç–≤–∏–µ, –¥–æ—Å—Ç—É–ø–Ω–æ–µ –¥–ª—è —à–∏—Ä–æ–∫–∏—Ö –º–∞—Å—Å.

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

## –í—ã—è–≤–ª–µ–Ω–∏–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥

–£—Å—Ç–∞–Ω–æ–≤–∏–º, —É –∫–∞–∫–æ–≥–æ –∞–≤—Ç–æ—Ä–∞ —Å–∞–º–∞—è –≤—ã—Å–æ–∫–∞—è —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥. –ë—É–¥–µ–º —É—á–∏—Ç—ã–≤–∞—Ç—å —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏.

In [20]:
get_sql_data('''(WITH
                      i AS (SELECT book_id,
                                   COUNT(rating_id) AS total_ratings,
                                   ROUND(AVG(rating), 2) AS average_rating
                            FROM ratings
                            GROUP BY book_id
                            HAVING COUNT(rating_id) >= 50)
                 SELECT a.author_id,
                        a.author,
                        COUNT(i.book_id) AS total_books,
                        SUM(i.total_ratings) AS total_ratings,
                        ROUND(AVG(i.average_rating), 2) AS average_rating
                 FROM authors AS a
                 JOIN books AS b ON a.author_id = b.author_id
                 JOIN i AS i ON b.book_id = i.book_id
                 GROUP BY a.author_id, a.author
                 ORDER BY average_rating DESC
                 LIMIT 1)''')
# —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ –ø–æ–¥–∑–∞–ø—Ä–æ—Å–∞ —Å –ø—Å–µ–≤–¥–æ–Ω–∏–º–æ–º i
# –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Ç–æ–ª–±—Ü—É ‚Äòbook_id‚Äô —Ç–∞–±–ª–∏—Ü—ã ‚Äòratings‚Äô
# –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –∞–≥—Ä–µ–≥–∞—Ç–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π –¥–ª—è –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø—ã
# –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –∑–∞–ø—Ä–æ—Å–∞ —Ç–æ–ª—å–∫–æ –¥–ª—è —Ç–µ—Ö –∑–∞–ø–∏—Å–µ–π, –≥–¥–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ ‚Äòrating_id‚Äô —Ç–∞–±–ª–∏—Ü—ã ‚Äòratings‚Äô —Ä–∞–≤–Ω–æ –∏–ª–∏ –±–æ–ª—å—à–µ 50
# –≤—ã–≤–æ–¥ –∑–Ω–∞—á–µ–Ω–∏–π —Å—Ç–æ–ª–±—Ü–∞ ‚Äòbook_id‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòratings‚Äô
# –≤—ã–≤–æ–¥ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ ‚Äòrating_id‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòratings‚Äô
# –≤—ã–≤–æ–¥ —Å—Ä–µ–¥–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω–∏–π —Å—Ç–æ–ª–±—Ü–∞ ‚Äòrating‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòratings‚Äô —Å –æ–∫—Ä—É–≥–ª–µ–Ω–∏–µ–º –¥–æ 2-—Ö –∑–Ω–∞–∫–æ–≤ –ø–æ—Å–ª–µ –∑–∞–ø—è—Ç–æ–π
# –Ω–∞–ø–∏—Å–∞–Ω–∏–µ –æ—Å–Ω–æ–≤–Ω–æ–≥–æ –∑–∞–ø—Ä–æ—Å–∞
# –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º ‚Äòauthor_id‚Äô –∏ ‚Äòauthor_id‚Äô —Ç–∞–±–ª–∏—Ü—ã ‚Äòauthors‚Äô
# –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –∞–≥—Ä–µ–≥–∞—Ç–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π –¥–ª—è –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø—ã
# —Å–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞ –ø–æ —É–±—ã–≤–∞–Ω–∏—é ‚Äòaverage_rating‚Äô
# –≤—ã–≤–æ–¥ –∑–Ω–∞—á–µ–Ω–∏–π —Å—Ç–æ–ª–±—Ü–æ–≤ ‚Äòauthor_id‚Äô –∏ ‚Äòauthor‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòauthors‚Äô
# –≤—ã–≤–æ–¥ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ ‚Äòbook_id‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòi‚Äô
# –≤—ã–≤–æ–¥ —Å—É–º–º—ã –∑–Ω–∞—á–µ–Ω–∏–π —Å—Ç–æ–ª–±—Ü–∞ ‚Äòtotal_ratings‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòi‚Äô
# –≤—ã–≤–æ–¥ —Å—Ä–µ–¥–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω–∏–π —Å—Ç–æ–ª–±—Ü–∞ ‚Äòaverage_rating‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòi‚Äô —Å –æ–∫—Ä—É–≥–ª–µ–Ω–∏–µ–º –¥–æ 2-—Ö –∑–Ω–∞–∫–æ–≤ –ø–æ—Å–ª–µ –∑–∞–ø—è—Ç–æ–π
# –≤—ã–≤–æ–¥ —Ç–æ–ª—å–∫–æ –ø–µ—Ä–≤–æ–π –∑–∞–ø–∏—Å–∏ –∏–∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞
# –≤—ã–∑–æ–≤ —Ñ—É–Ω–∫—Ü–∏–∏ ‚Äòget_sql_data‚Äô

,author_id,author,total_books,total_ratings,average_rating
0,236,J.K. Rowling/Mary GrandPr√©,4,310.0,4.29

–ï—Å–ª–∏ —Ä–∞—Å—Å–º–∞—Ç—Ä–∏–≤–∞—Ç—å —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏, —Ç–æ —Å–∞–º–∞—è –≤—ã—Å–æ–∫–∞—è —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ —É –∫–Ω–∏–≥ –∞–≤—Ç–æ—Ä–æ–≤ –î–∂–æ–∞–Ω –†–æ—É–ª–∏–Ω–≥ –∏ –ú—ç—Ä–∏ –ì—Ä–∞–Ω–¥–ø—Ä–µ ‚Äî 4.29. –£ —ç—Ç–∏—Ö –∞–≤—Ç–æ—Ä–æ–≤ –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–æ —á–µ—Ç—ã—Ä–µ –∫–Ω–∏–≥–∏. –û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–æ–∫ —ç—Ç–∏—Ö –∫–Ω–∏–≥ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 310. 

–î–∂–æ–∞–Ω –†–æ—É–ª–∏–Ω–≥ ‚Äî –±—Ä–∏—Ç–∞–Ω—Å–∫–∞—è –ø–∏—Å–∞—Ç–µ–ª—å–Ω–∏—Ü–∞, –∏–∑–≤–µ—Å—Ç–Ω–∞—è –∫–∞–∫ –∞–≤—Ç–æ—Ä —Å–µ—Ä–∏–∏ —Ä–æ–º–∞–Ω–æ–≤ –æ –ì–∞—Ä—Ä–∏ –ü–æ—Ç—Ç–µ—Ä–µ. –ö–Ω–∏–≥–∏ –æ –ì–∞—Ä—Ä–∏ –ü–æ—Ç—Ç–µ—Ä–µ —Å—Ç–∞–ª–∏ —Å–∞–º–æ–π –ø—Ä–æ–¥–∞–≤–∞–µ–º–æ–π —Å–µ—Ä–∏–µ–π –∫–Ω–∏–≥ –≤ –∏—Å—Ç–æ—Ä–∏–∏. –ú—ç—Ä–∏ –ì—Ä–∞–Ω–¥–ø—Ä–µ ‚Äî –∞–º–µ—Ä–∏–∫–∞–Ω—Å–∫–∞—è —Ö—É–¥–æ–∂–Ω–∏—Ü–∞ –∏ –ø–∏—Å–∞—Ç–µ–ª—å–Ω–∏—Ü–∞, –∏–∑–≤–µ—Å—Ç–Ω–∞—è —Å–≤–æ–∏–º–∏ –∏–ª–ª—é—Å—Ç—Ä–∞—Ü–∏—è–º–∏ –∫ –∏–∑–¥–∞–Ω–∏—è–º –∫–Ω–∏–≥ –æ –ì–∞—Ä—Ä–∏ –ü–æ—Ç—Ç–µ—Ä–µ.

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

## –ü–æ–¥—Å—á—ë—Ç —Å—Ä–µ–¥–Ω–µ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫

–ü–æ—Å—á–∏—Ç–∞–µ–º —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫.

In [21]:
get_sql_data('''(WITH 
                      i AS (SELECT username,
                                   COUNT(rating_id) AS total_ratings
                            FROM ratings
                            GROUP BY username
                            HAVING COUNT(rating_id) > 48),
                      j AS (SELECT re.username,
                                   COUNT(re.review_id) AS total_reviews
                            FROM reviews AS re
                            JOIN i AS i ON re.username = i.username
                            WHERE re.username IN (i.username)
                            GROUP BY re.username)
                 SELECT AVG(j.total_reviews) AS average_reviews
                 FROM j)''')
# —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ –ø–µ—Ä–≤–æ–≥–æ –ø–æ–¥–∑–∞–ø—Ä–æ—Å–∞ —Å –ø—Å–µ–≤–¥–æ–Ω–∏–º–æ–º i
# –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Ç–æ–ª–±—Ü—É ‚Äòusername‚Äô —Ç–∞–±–ª–∏—Ü—ã ‚Äòratings‚Äô
# –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –∞–≥—Ä–µ–≥–∞—Ç–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π –¥–ª—è –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø—ã
# –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –∑–∞–ø—Ä–æ—Å–∞ —Ç–æ–ª—å–∫–æ –¥–ª—è —Ç–µ—Ö –∑–∞–ø–∏—Å–µ–π, –≥–¥–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ ‚Äòrating_id‚Äô —Ç–∞–±–ª–∏—Ü—ã ‚Äòratings‚Äô –±–æ–ª—å—à–µ 48
# –≤—ã–≤–æ–¥ –∑–Ω–∞—á–µ–Ω–∏–π —Å—Ç–æ–ª–±—Ü–∞ ‚Äòusername‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòratings‚Äô
# –≤—ã–≤–æ–¥ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ ‚Äòrating_id‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòratings‚Äô
# —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ –≤—Ç–æ—Ä–æ–≥–æ –ø–æ–¥–∑–∞–ø—Ä–æ—Å–∞ —Å –ø—Å–µ–≤–¥–æ–Ω–∏–º–æ–º j
# –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Ç–æ–ª–±—Ü—É ‚Äòusername‚Äô —Ç–∞–±–ª–∏—Ü—ã ‚Äòreviews‚Äô
# –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –∞–≥—Ä–µ–≥–∞—Ç–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π –¥–ª—è –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø—ã
# –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –∑–∞–ø—Ä–æ—Å–∞ —Ç–æ–ª—å–∫–æ –¥–ª—è —Ç–µ—Ö –∑–∞–ø–∏—Å–µ–π, 
# –≥–¥–µ –∑–Ω–∞—á–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–∞ ‚Äòusername‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòreviews‚Äô —Å–æ–≤–ø–∞–¥–∞–µ—Ç —Å –∑–Ω–∞—á–µ–Ω–∏–µ–º —Å—Ç–æ–ª–±—Ü–∞ ‚Äòusername‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòi‚Äô
# –≤—ã–≤–æ–¥ –∑–Ω–∞—á–µ–Ω–∏–π —Å—Ç–æ–ª–±—Ü–∞ ‚Äòusername‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòreviews‚Äô
# –≤—ã–≤–æ–¥ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ ‚Äòreview_id‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòreviews‚Äô
# –Ω–∞–ø–∏—Å–∞–Ω–∏–µ –æ—Å–Ω–æ–≤–Ω–æ–≥–æ –∑–∞–ø—Ä–æ—Å–∞
# –≤—ã–≤–æ–¥ —Å—Ä–µ–¥–Ω–µ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ ‚Äòtotal_reviews‚Äô –∏–∑ —Ç–∞–±–ª–∏—Ü—ã ‚Äòj‚Äô
# –≤—ã–∑–æ–≤ —Ñ—É–Ω–∫—Ü–∏–∏ ‚Äòget_sql_data‚Äô

   average_reviews
0             24.0

–ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ —Å–µ—Ä–≤–∏—Å–∞, –∫–æ—Ç–æ—Ä—ã–µ —á–∏—Ç–∞—é—Ç –∏ –æ—Ü–µ–Ω–∏–≤–∞—é—Ç –º–Ω–æ–≥–æ –∫–Ω–∏–≥, —Ç–∞–∫–∂–µ –ø–∏—à—É—Ç –¥–æ–≤–æ–ª—å–Ω–æ –º–Ω–æ–≥–æ –æ—Ç–∑—ã–≤–æ–≤ –Ω–∞ –Ω–∏—Ö. –í —Å—Ä–µ–¥–Ω–µ–º –Ω–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –æ—Ü–µ–Ω–∏–≤—à–∏—Ö –±–æ–ª–µ–µ 48 –∫–Ω–∏–≥, –ø—Ä–∏—Ö–æ–¥–∏—Ç—Å—è 24 –∫–Ω–∏–∂–Ω—ã—Ö –æ–±–∑–æ—Ä–∞.

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

## –í—ã–≤–æ–¥—ã –ø–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞–º –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è

–ë–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö —Å–µ—Ä–≤–∏—Å–∞ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –≤–∫–ª—é—á–∞–µ—Ç –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ 1000 –∫–Ω–∏–≥, 636 –∞–≤—Ç–æ—Ä–∞—Ö, 340 –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, 6 456 –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥ –∏ 2 793 –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏.

–°–∞–º–∞—è —Ä–∞–Ω–Ω—è—è –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥ –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö ‚Äî 1 –¥–µ–∫–∞–±—Ä—è 1952 –≥–æ–¥–∞, –∞ —Å–∞–º–∞—è –ø–æ–∑–¥–Ω—è—è ‚Äî 31 –º–∞—Ä—Ç–∞ 2020 –≥–æ–¥–∞. –ü–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–∞ –±–æ–ª—å—à–∞—è —á–∞—Å—Ç—å –∫–Ω–∏–≥, –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã—Ö –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö ‚Äî 819 –∫–Ω–∏–≥ –∏–∑ 1000.

–í –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö —Å—É—â–µ—Å—Ç–≤—É—é—Ç –∫–Ω–∏–≥–∏, –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –Ω–µ –Ω–∞–ø–∏—Å–∞–ª–∏ –æ–±–∑–æ—Ä—ã. –ù–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –Ω–∞ –æ–¥–Ω—É –∫–Ω–∏–≥—É ‚Äî 7. –ú–∏–Ω–∏–º–∞–ª—å–Ω–∞—è —Å—Ä–µ–¥–Ω—è—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∞—è –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 1.5, –∞ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è ‚Äî 5.

–ë—Ä–∏—Ç–∞–Ω—Å–∫–æ–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ ¬´Penguin Books¬ª –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –æ–±—ä—ë–º–æ–º –±–æ–ª–µ–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî 42 –∫–Ω–∏–≥–∏.

–ï—Å–ª–∏ —Ä–∞—Å—Å–º–∞—Ç—Ä–∏–≤–∞—Ç—å —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏, —Ç–æ —Å–∞–º–∞—è –≤—ã—Å–æ–∫–∞—è —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥ —É –±—Ä–∏—Ç–∞–Ω—Å–∫–æ–π –ø–∏—Å–∞—Ç–µ–ª—å–Ω–∏—Ü—ã –î–∂–æ–∞–Ω –†–æ—É–ª–∏–Ω–≥ –∏ –∞–º–µ—Ä–∏–∫–∞–Ω—Å–∫–æ–≥–æ –∏–ª–ª—é—Å—Ç—Ä–∞—Ç–æ—Ä–∞ –∏ –ø–∏—Å–∞—Ç–µ–ª—å–Ω–∏—Ü—ã –ú—ç—Ä–∏ –ì—Ä–∞–Ω–¥–ø—Ä–µ ‚Äî 4.29. –£ —ç—Ç–∏—Ö –∞–≤—Ç–æ—Ä–æ–≤ –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–æ —á–µ—Ç—ã—Ä–µ –∫–Ω–∏–≥–∏. –û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–æ–∫ —ç—Ç–∏—Ö –∫–Ω–∏–≥ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 310.

–ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ —Å–µ—Ä–≤–∏—Å–∞, –∫–æ—Ç–æ—Ä—ã–µ —á–∏—Ç–∞—é—Ç –∏ –æ—Ü–µ–Ω–∏–≤–∞—é—Ç –º–Ω–æ–≥–æ –∫–Ω–∏–≥, —Ç–∞–∫–∂–µ –ø–∏—à—É—Ç –¥–æ–≤–æ–ª—å–Ω–æ –º–Ω–æ–≥–æ –æ—Ç–∑—ã–≤–æ–≤ –Ω–∞ –Ω–∏—Ö. –í —Å—Ä–µ–¥–Ω–µ–º –Ω–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –ø–æ—Å—Ç–∞–≤–∏–≤—à–∏—Ö –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫ –∫–Ω–∏–≥–∞–º, –ø—Ä–∏—Ö–æ–¥–∏—Ç—Å—è 24 –∫–Ω–∏–∂–Ω—ã—Ö –æ–±–∑–æ—Ä–∞.

–û—Ü–µ–Ω–∫–∏ –∏ –æ–±–∑–æ—Ä—ã –ø–æ–∑–≤–æ–ª—è—é—Ç —É–∑–Ω–∞—Ç—å –ø—Ä–µ–¥–ø–æ—á—Ç–µ–Ω–∏—è —á–∏—Ç–∞—Ç–µ–ª–µ–π, –∏—Ö –æ–∂–∏–¥–∞–Ω–∏—è –æ—Ç —Å–µ—Ä–≤–∏—Å–∞ –∏ –∫–Ω–∏–≥, –∞ —Ç–∞–∫–∂–µ –≤—ã—è–≤–∏—Ç—å –≤–æ–∑–º–æ–∂–Ω—ã–µ –ø—Ä–æ–±–ª–µ–º—ã –∏ –Ω–µ–¥–æ—Å—Ç–∞—Ç–∫–∏. –≠—Ç–æ –ø–æ–º–æ–≥–∞–µ—Ç —É–ª—É—á—à–∏—Ç—å –∫–∞—á–µ—Å—Ç–≤–æ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è –ª—é–±–∏—Ç–µ–ª–µ–π –∫–Ω–∏–≥ –∏ –∞–¥–∞–ø—Ç–∏—Ä–æ–≤–∞—Ç—å –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏—è –ø–æ–¥ –∑–∞–ø—Ä–æ—Å—ã –∞—É–¥–∏—Ç–æ—Ä–∏–∏.

–ü–æ–ª–æ–∂–∏—Ç–µ–ª—å–Ω—ã–µ –æ—Ç–∑—ã–≤—ã –∏ –≤—ã—Å–æ–∫–∏–µ –æ—Ü–µ–Ω–∫–∏ —Å–ø–æ—Å–æ–±—Å—Ç–≤—É—é—Ç —É–∫—Ä–µ–ø–ª–µ–Ω–∏—é –∏–º–∏–¥–∂–∞ –∫–Ω–∏–∂–Ω–æ–≥–æ —Å–µ—Ä–≤–∏—Å–∞ –∏ –ø–æ–≤—ã—à–µ–Ω–∏—é –µ–≥–æ –∞–≤—Ç–æ—Ä–∏—Ç–µ—Ç–∞ —Å—Ä–µ–¥–∏ –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤. –≠—Ç–æ –º–æ–∂–µ—Ç –ø—Ä–∏–≤–ª–µ—á—å –Ω–æ–≤—ã—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∏ —É–≤–µ–ª–∏—á–∏—Ç—å –ª–æ—è–ª—å–Ω–æ—Å—Ç—å —Å—É—â–µ—Å—Ç–≤—É—é—â–∏—Ö.

–û–±–∑–æ—Ä—ã –∏ –æ—Ü–µ–Ω–∫–∏ –∫–Ω–∏–≥ –ø–æ–º–æ–≥–∞—é—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º —Å–¥–µ–ª–∞—Ç—å –≤—ã–±–æ—Ä –ø—Ä–∏ —á—Ç–µ–Ω–∏–∏.

–ß—Ç–æ–±—ã —Å—Ç–∏–º—É–ª–∏—Ä–æ–≤–∞—Ç—å –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å–µ—Ä–≤–∏—Å–∞ —Å—Ç–∞–≤–∏—Ç—å –±–æ–ª—å—à–µ –æ—Ü–µ–Ω–æ–∫ –∫–Ω–∏–≥–∞–º –∏ –ø–∏—Å–∞—Ç—å –±–æ–ª—å—à–µ –æ–±–∑–æ—Ä–æ–≤ –Ω–∞ –Ω–∏—Ö, –º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Å–ª–µ–¥—É—é—â–∏–µ –º–µ—Ç–æ–¥—ã:
- —Ä–∞—Å—Å–∫–∞–∑—ã–≤–∞—Ç—å –æ–± –∞–≤—Ç–æ—Ä–∞—Ö –∏ –∫–Ω–∏–≥–∞—Ö –≤ —Å–æ—Ü–∏–∞–ª—å–Ω—ã—Ö —Å–µ—Ç—è—Ö;
- –∞–∫—Ç–∏–≤–Ω–æ –æ–±—â–∞—Ç—å—Å—è —Å —á–∏—Ç–∞—Ç–µ–ª—è–º–∏, –ø—Ä–æ–≤–æ–¥–∏—Ç—å –ø—Ä—è–º—ã–µ —ç—Ñ–∏—Ä—ã —Å —á–∏—Ç–∞—Ç–µ–ª—è–º–∏ –∏ –∞–≤—Ç–æ—Ä–∞–º–∏ –∫–Ω–∏–≥;
- –ø—É–±–ª–∏–∫–æ–≤–∞—Ç—å –æ—Ç—Ä—ã–≤–∫–∏ –∫–Ω–∏–≥ –≤ —Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–∏—Ö —Å–æ–æ–±—â–µ—Å—Ç–≤–∞—Ö;
- –ø—Ä–æ–≤–æ–¥–∏—Ç—å —Ä–æ–∑—ã–≥—Ä—ã—à–∏ –∫–Ω–∏–≥.

–ù–∞ –æ—Å–Ω–æ–≤–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–æ–∫ –∫–Ω–∏–≥ –∏ –æ–±–∑–æ—Ä–æ–≤ –Ω–∞ –∫–Ω–∏–≥–∏ –º–æ–∂–Ω–æ –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –Ω–∞–∏–±–æ–ª–µ–µ –ø–æ–ø—É–ª—è—Ä–Ω—ã–µ –∏ –≤–æ—Å—Ç—Ä–µ–±–æ–≤–∞–Ω–Ω—ã–µ –∫–Ω–∏–≥–∏, –∞ —Ç–∞–∫–∂–µ –∞–≤—Ç–æ—Ä–æ–≤. –≠—Ç–æ –ø–æ–∑–≤–æ–ª—è–µ—Ç —Å–æ–∑–¥–∞–≤–∞—Ç—å –±–æ–ª–µ–µ —ç—Ñ—Ñ–µ–∫—Ç–∏–≤–Ω—ã–µ —Ä–µ–∫–ª–∞–º–Ω—ã–µ –∫–∞–º–ø–∞–Ω–∏–∏, –æ—Ä–∏–µ–Ω—Ç–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ –Ω–∞ –∫–æ–Ω–∫—Ä–µ—Ç–Ω—ã–µ –∏–Ω—Ç–µ—Ä–µ—Å—ã –∞—É–¥–∏—Ç–æ—Ä–∏–∏.

–ò–∑—É—á–µ–Ω–∏–µ –æ—Ü–µ–Ω–æ–∫ –∏ –æ–±–∑–æ—Ä–æ–≤ –Ω–∞ –∫–Ω–∏–≥–∏ –ø–æ–∑–≤–æ–ª—è–µ—Ç –≤—ã—è–≤–∏—Ç—å —Ç–µ–Ω–¥–µ–Ω—Ü–∏–∏ –∏ –∑–∞–∫–æ–Ω–æ–º–µ—Ä–Ω–æ—Å—Ç–∏ –≤ –ø—Ä–µ–¥–ø–æ—á—Ç–µ–Ω–∏—è—Ö —á–∏—Ç–∞—Ç–µ–ª–µ–π, –∞ —Ç–∞–∫–∂–µ –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –ø–µ—Ä—Å–ø–µ–∫—Ç–∏–≤–Ω—ã–µ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏—è —Ä–∞–∑–≤–∏—Ç–∏—è —Å–µ—Ä–≤–∏—Å–∞. –≠—Ç–æ –ø–æ–º–æ–≥–∞–µ—Ç –∞–¥–∞–ø—Ç–∏—Ä–æ–≤–∞—Ç—å—Å—è –∫ –∏–∑–º–µ–Ω–µ–Ω–∏—è–º —Ä—ã–Ω–∫–∞ –∏ –æ—Å—Ç–∞–≤–∞—Ç—å—Å—è –∫–æ–Ω–∫—É—Ä–µ–Ω—Ç–æ—Å–ø–æ—Å–æ–±–Ω—ã–º.

<div class="alert alert-success">
<b>üëç –£—Å–ø–µ—Ö:</b> –•–æ—Ä–æ—à–∞—è —Ä–∞–±–æ—Ç–∞, –ø–æ–∑–¥—Ä–∞–≤–ª—è—é —Å –æ–∫–æ–Ω—á–∞–Ω–∏–µ–º –∫—É—Ä—Å–∞! –†–µ–∫–æ–º–µ–Ω–¥—É—é –µ—â–µ –ø—Ä–æ–π—Ç–∏ –±–µ—Å–ø–ª–∞—Ç–Ω—ã–π –∫—É—Ä—Å –æ—Ç –ø—Ä–∞–∫—Ç–∏–∫—É–º–∞ –ø–æ <a href='https://practicum.yandex.ru/ycloud-datalens/'> DataLens</a>
   –î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –ø–æ SQL  –º–æ–∂–Ω–æ –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å –∏ –ø–æ—Ç—Ä–µ–Ω–∏—Ä–æ–≤–∞—Ç—å—Å—è <a href='https://sql-ex.ru'> –∑–¥–µ—Å—å</a>, <a href='https://pgexercises.com'> –∑–¥–µ—Å—å</a>, <a href='https://sql-academy.org'> –∑–¥–µ—Å—å</a>, <a href='https://stepik.org/course/63054/info'> –∑–¥–µ—Å—å</a>, <a href='https://Itresume.ru'> –∑–¥–µ—Å—å</a>
</div>